In [69]:
import pandas as pd
pd.__version__

'2.1.3'

In [70]:
# Series,DataFramme and Index are the objects of pandas
import pandas as pd
# For integer values return int64
C=pd.Series([2.1,3.2,4.3],index=["A","B","C"])  
print(C)
C.values

A    2.1
B    3.2
C    4.3
dtype: float64

array([2.1, 3.2, 4.3])

# some pandas commands end with parentheses (and others don't)
Methods end with parentheses, while attributes don't:
Method : head(), describe()
Attributes: dtypes, shape

In [71]:
#  C.index
C.keys()

Index(['A', 'B', 'C'], dtype='object')

In [72]:
list(C.items())

[('A', 2.1), ('B', 3.2), ('C', 4.3)]

In [73]:
C.index.name = 'label'
C

label
A    2.1
B    3.2
C    4.3
dtype: float64

In [74]:
import pandas as pd
C=pd.Series(["HI","HELLO","HEY"],index=["A","B","C"])
print(C)

A       HI
B    HELLO
C      HEY
dtype: object

In [75]:
import pandas as pd
C=pd.Series([True,False,True],index=["A","B","C"])
print(C)

A     True
B    False
C     True
dtype: bool

In [76]:
dict_1 = {'California': 38332521,'Texas': 26448193,'New York'
          : 19651127,'Florida': 19552860,'Illinois': 12882135}
population = pd.Series(dict_1)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

Bracket notation will always work, whereas dot notation has limitations:

1) Dot notation doesn't work if there are spaces in the Series name
2) Dot notation doesn't work if the Series has the same name as a
   DataFrame method or attribute (like 'head' or 'shape')
3) Dot notation can't be used to define the name of a new Series

In [77]:
population["Texas"]
# population.Texas

26448193

In [78]:
# slicing by explicit index
population['California':'New York']

California    38332521
Texas         26448193
New York      19651127
dtype: int64

In [79]:
#  slicing by implicit index
population[0:3]

California    38332521
Texas         26448193
New York      19651127
dtype: int64

In [80]:
# fancy indexing
population[['California','New York']]

California    38332521
New York      19651127
dtype: int64

In [81]:
database=pd.DataFrame({"Population": population})
database

            Population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

In [82]:
population.values

array([38332521, 26448193, 19651127, 19552860, 12882135], dtype=int64)

In [83]:
database["Population"]         # Mostly used method
# database.Population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
Name: Population, dtype: int64

In [84]:
database[database["Population"]>20000000]

            Population
California    38332521
Texas         26448193

In [85]:
# Adding new column in a dataframe
database["Area"]=[236,345,189,289,277]
database

            Population  Area
California    38332521   236
Texas         26448193   345
New York      19651127   189
Florida       19552860   289
Illinois      12882135   277

In [86]:
# database.sort_values(by="Population",ascending=False)
database.Population.sort_values()
# While sorting, the order of characters is defined by Unicode.

Illinois      12882135
Florida       19552860
New York      19651127
Texas         26448193
California    38332521
Name: Population, dtype: int64

In [87]:
# sort the DataFrame first by 'Population', then by 'Area'
database.sort_values(["Population","Area"])

            Population  Area
Illinois      12882135   277
Florida       19552860   289
New York      19651127   189
Texas         26448193   345
California    38332521   236

In [88]:
# Grouping data by "Area" and calculating mean "Population"
database.groupby("Area")["Population"].mean()

Area
189    19651127.0
236    38332521.0
277    12882135.0
289    19552860.0
345    26448193.0
Name: Population, dtype: float64

In [89]:
database.groupby("Area")["Population"].agg(["mean","max","min"])

            mean       max       min
Area
189   19651127.0  19651127  19651127
236   38332521.0  38332521  38332521
277   12882135.0  12882135  12882135
289   19552860.0  19552860  19552860
345   26448193.0  26448193  26448193

In [90]:
database.replace(345,221,inplace=True)
database

            Population  Area
California    38332521   236
Texas         26448193   221
New York      19651127   189
Florida       19552860   289
Illinois      12882135   277

In [91]:
# reverse row order
database.loc[::-1]

            Population  Area
Illinois      12882135   277
Florida       19552860   289
New York      19651127   189
Texas         26448193   221
California    38332521   236

In [92]:
# Extracting some slices of data
# database.iloc[:2,:2]
database.loc[["California","Texas"],["Population","Area"]]

            Population  Area
California    38332521   236
Texas         26448193   221

In [93]:
# Transpose the DataFrame i.e. Swapping rows and columns
database.T

            California     Texas  New York   Florida  Illinois
Population    38332521  26448193  19651127  19552860  12882135
Area               236       221       189       289       277

In [94]:
# Practice A Dataframe: 
""" a	b
0	0	0
1	1	2
2	2	4"""

new_data=pd.DataFrame({"a":[0,1,2],"b":[0,2,4]},index=(0,1,2))
new_data

   a  b
0  0  0
1  1  2
2  2  4

In [95]:
import pandas as pd
d={"one":pd.Series([1,2,3],index=["A","B","D"]),
   "two":pd.Series([1,2,3,4],index=["A","B","C","D"])}
df=pd.DataFrame(d)
print(df)
df["one"]

   one  two
A  1.0    1
B  2.0    2
C  NaN    3
D  3.0    4

A    1.0
B    2.0
C    NaN
D    3.0
Name: one, dtype: float64

In [2]:
import pandas as pd
d={"one":pd.Series([1,2,3],index=["A","B","D"]),
   "two":pd.Series([1,2,3,4],index=["A","B","C","D"])}
df=pd.DataFrame(d)
df

   one  two
A  1.0    1
B  2.0    2
C  NaN    3
D  3.0    4

In [97]:
# reverse column order
df.loc[:, ::-1]

   two  one
A    1  1.0
B    2  2.0
C    3  NaN
D    4  3.0

In [98]:
df.loc["B"]

one    2.0
two    2.0
Name: B, dtype: float64

In [99]:
df.loc["A":"C"]

   one  two
A  1.0    1
B  2.0    2
C  NaN    3

In [100]:
df.iloc[2]

one    NaN
two    3.0
Name: C, dtype: float64

In [101]:
df.iloc[1:3]

   one  two
B  2.0    2
C  NaN    3

In [3]:
# access the index of the last element from the entire Dataframe. 
df.iloc[-1]

one    3.0
two    4.0
Name: D, dtype: float64

In [6]:
# access the index of the last element from a specific column. 
df["two"].iloc[-1]

2.0

In [ ]:
# return Single element at passed position  
df.iat[1,0]

When we extract a csv file, 
The ix method is used to select rows and columns by label or integer position, and should only be used
when you need to mix label-based and integer-based selection in the same call.
EX : df.ix[0,"one"]

In [102]:
df[2:4]

   one  two
C  NaN    3
D  3.0    4

In [103]:
print("Adding a cnew column by passing as Series")
df["three"]=pd.Series([10,20,30],index=["A","B","C"])
df

Adding a cnew column by passing as Series

   one  two  three
A  1.0    1   10.0
B  2.0    2   20.0
C  NaN    3   30.0
D  3.0    4    NaN

In [104]:
print("Adding a new column using existing columns in DataFrame")
df["four"]=df["one"]+df["three"]
df

Adding a new column using existing columns in DataFrame

   one  two  three  four
A  1.0    1   10.0  11.0
B  2.0    2   20.0  22.0
C  NaN    3   30.0   NaN
D  3.0    4    NaN   NaN

In [105]:
val={"one":4,"three":df.two.max(),"four":df.three.mean()}
df=df.fillna(val)
df

   one  two  three  four
A  1.0    1   10.0  11.0
B  2.0    2   20.0  22.0
C  4.0    3   30.0  20.0
D  3.0    4    4.0  20.0

In [106]:
# Changing datatype:
import pandas as pd
C=pd.Series([True,False,True],index=["A","B","C"],dtype=str)
print(type(C))                       # check type of series

<class 'pandas.core.series.Series'>

In [107]:
import pandas as pd
df=pd.DataFrame()
print(df)
df

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

In [108]:
pd.Series([1, np.nan, 2, None])

0    1.0
1    NaN
2    2.0
3    NaN
dtype: float64

In [109]:
data={"NAME":["Uma","Bhavya","Ritika","Sashwat","Asha","Sushma"],
      "MATH":[56,78,89,None,45,79],"CHEM":[78,90,94,90,67,69]}
df=pd.DataFrame(data,index=["r1","r2","r3","r4","r5","r6"])
print(df)

       NAME  MATH  CHEM
r1      Uma  56.0    78
r2   Bhavya  78.0    90
r3   Ritika  89.0    94
r4  Sashwat   NaN    90
r5     Asha  45.0    67
r6   Sushma  79.0    69

In [110]:
data=[["Rishabh",23],["Ashu",35],["Sushma",20]]
df=pd.DataFrame(data,columns=["Name","Age"])
df

      Name  Age
0  Rishabh   23
1     Ashu   35
2   Sushma   20

In [111]:
data=[{"a":23,"b":35,"c":12},{"a":90,"b":34,"c":56}]
df=pd.DataFrame(data)
df

    a   b   c
0  23  35  12
1  90  34  56

In [112]:
data=[{"a":23,"b":35},{"a":90,"b":34,"c":56}]
df1=pd.DataFrame(data,index=["First","Second"],columns=["a","b"])
df2=pd.DataFrame(data,index=["First","Second"],columns=["a","b1"])
print(df1)
df2

         a   b
First   23  35
Second  90  34

         a  b1
First   23 NaN
Second  90 NaN

In [113]:
df=pd.DataFrame([[1,2],[3,4]],columns=["a","b"])
df2=pd.DataFrame([[5,6],[7,8]],columns=["a","b"])
df=df.append(df2)
df

AttributeError: 'DataFrame' object has no attribute 'append'

In [ ]:
r=df.head()
s=df.head(3)
print(r,"\n")
print(s)
display(s)    # display shows data in gradient table form

      NAME  MATH  CHEM
0      Uma    56    78
1   Bhavya    78    90
2   Ritika    89    94
3  Sashwat    78    90
4     Asha    45    67

     NAME  MATH  CHEM
0     Uma    56    78
1  Bhavya    78    90
2  Ritika    89    94

     NAME  MATH  CHEM
0     Uma    56    78
1  Bhavya    78    90
2  Ritika    89    94

In [ ]:
u=df.tail()
v=df.tail(2)
print(u,"\n")
print(v)

      NAME  MATH  CHEM
1   Bhavya    78    90
2   Ritika    89    94
3  Sashwat    78    90
4     Asha    45    67
5   Sushma    79    69

     NAME  MATH  CHEM
4    Asha    45    67
5  Sushma    79    69

In [ ]:
print("Deleting first column using del function")
del df["one"]
df

Deleting first column using del function

   two  three  four
A    1   10.0  11.0
B    2   20.0  22.0
C    3   30.0   NaN
D    4    NaN   NaN

In [ ]:
print("Deleting another column using pop function")
df.pop("two")
df

Deleting another column using pop function

   three  four
A   10.0  11.0
B   20.0  22.0
C   30.0   NaN
D    NaN   NaN

In [ ]:
i=df.info(data)
print(i)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   NAME    6 non-null      object
 1   MATH    5 non-null      float64
 2   CHEM    6 non-null      int64
dtypes: float64(1), int64(1), object(1)
memory usage: 276.0+ bytes
None

In [ ]:
import numpy as np
val=np.array([3,np.nan,8,9])
val

array([ 3., nan,  8.,  9.])

In [ ]:
1+np.nan,1*np.nan,val.sum(),val.min(),val.max()

(nan, nan, nan, nan, nan)

In [ ]:
# Sum, Max and Min of all non null values
np.nansum(val),np.nanmax(val),np.nanmin(val)

(20.0, 9.0, 3.0)

In [ ]:
import pandas as pd
data2=pd.DataFrame({"Age":[45,34,31],"Salary":[3000,4000,2000]})
print(data2)
print(data2.shape)
print(data2.size)
print(data2.describe())

   Age  Salary
0   45    3000
1   34    4000
2   31    2000
(3, 2)
6
             Age  Salary
count   3.000000     3.0
mean   36.666667  3000.0
std     7.371115  1000.0
min    31.000000  2000.0
25%    32.500000  2500.0
50%    34.000000  3000.0
75%    39.500000  3500.0
max    45.000000  4000.0

In [ ]:
print(data2.columns)
print(data2.values)
print(data2.dtypes)

Index(['Age', 'Salary'], dtype='object')
[[  45 3000]
 [  34 4000]
 [  31 2000]]
Age       int64
Salary    int64
dtype: object

In [ ]:
# only include object columns in the DataFrame
import numpy as np
data2.select_dtypes(include="object").dtypes  
# include="object","numeric,"datetime,"category"

Series([], dtype: object)

In [ ]:
# Renaming the columns
data2.rename(columns={"Salary":"Income"},inplace=True)
data2.columns

Index(['Age', 'Income'], dtype='object')

In [ ]:
# replace all of the column names by overwriting the 'columns' attribute
new_cols = ["Emp_age","Salary"]
data2.columns = new_cols
data2.columns

Index(['Emp_age', 'Salary'], dtype='object')

In [ ]:
# replace all spaces with underscores in the column names by using the 'str.replace' method
# columns = data2.columns.str.replace(' ', '_')
# data2.columns
# As its columns name do not contain spaces, so we cannot see the changes

In [ ]:
data=pd.DataFrame({"NAME":["Uma","Bhavya","Ritika","Sashwat","Asha",
                    "Sushma"],"MATH":[56,78,89,None,45,79],"CHEM":[78,90,94,90,67,69]})
print(data.isnull())
print(data.isnull().sum())

    NAME   MATH   CHEM
0  False  False  False
1  False  False  False
2  False  False  False
3  False   True  False
4  False  False  False
5  False  False  False
NAME    0
MATH    1
CHEM    0
dtype: int64

In [ ]:
# 'notnull' returns the opposite of 'isnull' (True if not missing, False if missing)
data.notnull()

   NAME   MATH  CHEM
0  True   True  True
1  True   True  True
2  True   True  True
3  True  False  True
4  True   True  True
5  True   True  True

In [ ]:
print(data.drop("MATH",axis=1),"\n")    # 1 or 'columns
print(data.drop([0,1],axis=0),"\n")     # 0 or 'index'
print(data.drop(2,axis='index'))        # Remove row of 2nd index
data.drop(["MATH","CHEM"],axis=1)

      NAME  CHEM
0      Uma    78
1   Bhavya    90
2   Ritika    94
3  Sashwat    90
4     Asha    67
5   Sushma    69

      NAME  MATH  CHEM
2   Ritika  89.0    94
3  Sashwat   NaN    90
4     Asha  45.0    67
5   Sushma  79.0    69

      NAME  MATH  CHEM
0      Uma  56.0    78
1   Bhavya  78.0    90
3  Sashwat   NaN    90
4     Asha  45.0    67
5   Sushma  79.0    69

      NAME
0      Uma
1   Bhavya
2   Ritika
3  Sashwat
4     Asha
5   Sushma

In [ ]:
print(data.to_csv())

,NAME,MATH,CHEM
0,Uma,56.0,78
1,Bhavya,78.0,90
2,Ritika,89.0,94
3,Sashwat,,90
4,Asha,45.0,67
5,Sushma,79.0,69

In [ ]:
import pandas as pd
df=pd.read_csv(r"C:\Users\hp\Desktop\Employees_data.csv")
df

In [ ]:
# specify which columns to include by name
df1 = pd.read_csv(r"C:\Users\hp\Desktop\Employees_data.csv", usecols=['Name','Age',"Salary"])  # usecols=[0, 1, 2]
df1

In [ ]:
data2=pd.DataFrame({"Age":[45,34,31],"Salary":[3000,None,2000]})
data2.corr()     # Applicable for only numerical dataframe

        Age  Salary
Age     1.0     1.0
Salary  1.0     1.0

In [ ]:
# if any values are missing in a row, then drop that row
data2.dropna()

   Age  Salary
0   45  3000.0
2   31  2000.0

In [ ]:
data2.mean()

Emp_age      36.666667
Salary     3000.000000
dtype: float64

In [ ]:
data2=pd.DataFrame({"Age":[45,45,31],"Salary":[3000,3000,2000]})
data2.drop_duplicates()

   Age  Salary
0   45    3000
2   31    2000

In [ ]:
data=pd.DataFrame({"NAME":["Uma","Bhavya","Ritika","Sashwat","Asha","Sushma"],
                   "MATH":[56,78,89,None,45,79],"CHEM":[78,90,94,90,67,69]})
data.fillna(0)   # Replace NaN value by 0.0 in MATH column

      NAME  MATH  CHEM
0      Uma  56.0    78
1   Bhavya  78.0    90
2   Ritika  89.0    94
3  Sashwat   0.0    90
4     Asha  45.0    67
5   Sushma  79.0    69

In [ ]:
# forward-fill
data.fillna(method='ffill')

C:\Users\hp\AppData\Local\Temp\ipykernel_20412\3316037056.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data.fillna(method='ffill')

      NAME  MATH  CHEM
0      Uma  56.0    78
1   Bhavya  78.0    90
2   Ritika  89.0    94
3  Sashwat  89.0    90
4     Asha  45.0    67
5   Sushma  79.0    69

In [ ]:
# back-fill
data.fillna(method='bfill')

C:\Users\hp\AppData\Local\Temp\ipykernel_20412\692461307.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data.fillna(method='bfill')

      NAME  MATH  CHEM
0      Uma  56.0    78
1   Bhavya  78.0    90
2   Ritika  89.0    94
3  Sashwat  45.0    90
4     Asha  45.0    67
5   Sushma  79.0    69

Accessing string methods :

In [ ]:
data.NAME.str.upper()

0        UMA
1     BHAVYA
2     RITIKA
3    SASHWAT
4       ASHA
5     SUSHMA
Name: NAME, dtype: object

In [ ]:
data.NAME.str.contains("A")

0    False
1    False
2    False
3    False
4     True
5    False
Name: NAME, dtype: bool

In [ ]:
data.NAME.str.contains('A').astype(int)

0    0
1    0
2    0
3    0
4    1
5    0
Name: NAME, dtype: int32

In [ ]:
data.NAME.str.replace("a","A")

0        UmA
1     BhAvyA
2     RitikA
3    SAshwAt
4       AshA
5     SushmA
Name: NAME, dtype: object

Changing data type :

In [ ]:
data.dtypes

NAME     object
MATH    float64
CHEM      int64
dtype: object

In [ ]:
data.CHEM=data.CHEM.astype(float)
data.dtypes

NAME     object
MATH    float64
CHEM    float64
dtype: object

In [ ]:
# Multiindex Creation
df = pd.DataFrame(np.random.rand(4, 2),
                  index=[['a', 'a', 'b', 'b'], [1, 2, 3, 4]],
                  columns=['Data1', 'Data2'])
df

        Data1     Data2
a 1  0.193885  0.266909
  2  0.831186  0.565449
b 3  0.834436  0.029643
  4  0.797806  0.181450

In [ ]:
import numpy as np
x=[1,2,3]
y=[4,5,6]
z=[7,8,9]
np.concatenate((x,y,z))      # np.concatenate([x,y,z])

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
x = [[1, 2],
     [3, 4]]
np.concatenate([x, x], axis=1)    # axis=1  --> columnwise

array([[1, 2, 1, 2],
       [3, 4, 3, 4]])

In [ ]:
# GROUPING:
import pandas as pd
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'data': range(6)}, columns=['key', 'data'])
df

  key  data
0   A     0
1   B     1
2   C     2
3   A     3
4   B     4
5   C     5

In [ ]:
df.groupby("key").sum()  # sum() is aggreation function

     data
key
A       3
B       5
C       7

In [ ]:
import seaborn as sns
planets = sns.load_dataset('planets')
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)
planets

,method,number,orbital_period,mass,distance,year
0,Radial Velocity,1,269.300000,7.10000,77.40,2006
1,Radial Velocity,1,874.774000,2.21000,56.95,2008
2,Radial Velocity,1,763.000000,2.60000,19.84,2011
3,Radial Velocity,1,326.030000,19.40000,110.62,2007
4,Radial Velocity,1,516.220000,10.50000,119.47,2009
5,Radial Velocity,1,185.840000,4.80000,76.39,2008
6,Radial Velocity,1,1773.400000,4.64000,18.15,2002
7,Radial Velocity,1,798.500000,NaN,21.41,1996
8,Radial Velocity,1,993.300000,10.30000,73.10,2008
9,Radial Velocity,2,452.800000,1.99000,74.79,2010
10,Radial Velocity,2,883.000000,0.86000,74.79,2010
11,Radial Velocity,1,335.100000,9.88000,39.43,2009
12,Radial Velocity,1,479.100000,3.88000,97.28,2008
13,Radial Velocity,3,1078.000000,2.53000,14.08,1996
14,Radial Velocity,3,2391.000000,0.54000,14.08,2001
15,Radial Velocity,3,14002.000000,1.64000,14.08,2009
16,Radial Velocity,1,4.230785,0.47200,15.36,1995
17,Radial Velocity,5,14.651000,0.80000,12.53,1996
18,Radial Velocity,5,44.380000,0.16500,12.53,2004
19,Radial Velocity,5,4909.000000,3.53000,12.53,2002
20,Radial Velocity,5,0.736540,NaN,12.53,2011
21,Radial Velocity,5,261.200000,0.17200,12.53,2007
22,Radial Velocity,3,4.215000,0.01600,8.52,2009
23,Radial Velocity,3,38.021000,0.05700,8.52,2009
24,Radial Velocity,3,123.010000,0.07200,8.52,2009
25,Radial Velocity,1,116.688400,NaN,18.11,1996
26,Radial Velocity,1,691.900000,NaN,81.50,2012
27,Radial Velocity,1,952.700000,5.30000,97.18,2008
28,Radial Velocity,1,181.400000,3.20000,45.52,2013
29,Imaging,1,NaN,NaN,45.52,2005
30,Imaging,1,NaN,NaN,165.00,2007
31,Imaging,1,NaN,NaN,140.00,2004
32,Eclipse Timing Variations,1,10220.000000,6.05000,NaN,2009
33,Imaging,1,NaN,NaN,NaN,2008
34,Imaging,1,NaN,NaN,145.00,2013
35,Imaging,1,NaN,NaN,139.00,2004
36,Imaging,1,NaN,NaN,18.39,2006
37,Eclipse Timing Variations,2,5767.000000,NaN,130.72,2008
38,Eclipse Timing Variations,2,3321.000000,NaN,130.72,2008
39,Eclipse Timing Variations,2,5573.550000,NaN,500.00,2010
40,Eclipse Timing Variations,2,2883.500000,NaN,500.00,2010
41,Eclipse Timing Variations,1,2900.000000,NaN,NaN,2011
42,Eclipse Timing Variations,1,4343.500000,4.20000,NaN,2012
43,Eclipse Timing Variations,2,5840.000000,NaN,NaN,2011
44,Eclipse Timing Variations,2,1916.250000,NaN,NaN,2011
45,Radial Velocity,1,380.800000,1.80000,20.21,2010
46,Radial Velocity,1,3.235700,0.00360,1.35,2012
47,Imaging,1,6000.000000,NaN,19.28,2008
48,Radial Velocity,1,2502.000000,1.55000,3.22,2000
49,Radial Velocity,1,417.900000,NaN,70.42,2012
50,Radial Velocity,1,594.900000,7.60000,47.53,2006
51,Radial Velocity,1,428.500000,8.78000,38.52,2009
52,Radial Velocity,1,903.300000,1.85000,13.79,2003
53,Radial Velocity,1,1251.000000,NaN,31.12,2007
54,Imaging,1,NaN,NaN,52.03,2012
55,Radial Velocity,1,136.750000,2.80000,62.66,2007
56,Radial Velocity,2,530.320000,NaN,46.84,2012
57,Radial Velocity,2,3186.000000,NaN,46.84,2012
58,Radial Velocity,1,277.020000,1.70000,80.64,2013
59,Radial Velocity,1,187.830000,NaN,84.03,2012
60,Radial Velocity,1,1630.000000,NaN,56.31,2012
61,Radial Velocity,1,39.845000,1.04000,17.43,1997
62,Radial Velocity,1,3.313500,3.90000,15.60,1996
63,Radial Velocity,1,305.500000,20.60000,92.51,2013
64,Radial Velocity,4,4.617033,0.68760,13.47,1996
65,Radial Velocity,4,241.258000,1.98100,13.47,1999
66,Radial Velocity,4,1276.460000,4.13200,13.47,1999
67,Radial Velocity,4,3848.860000,1.05900,13.47,2010
68,Imaging,1,318280.000000,NaN,7.69,2008
69,Imaging,1,NaN,NaN,145.00,2008
70,Imaging,1,NaN,NaN,36.00,2013
71,Imaging,1,NaN,NaN,140.00,2010
72,Imaging,1,4639.150000,NaN,12.21,2009
73,Imaging,1,NaN,NaN,52.40,2004
74,Imaging,1,7336.500000,NaN,25.00,2009
75,Imaging,1,8679.700000,NaN,26.67,2009
76,Radial Velocity,1,655.600000,5.10000,37.54,2008
77,Radial Velocity,1,714.300000,10.60000,NaN,2007
78,Radial Velocity,1,3.487770,NaN,80.00,2000
79,Radial Velocity,2,5.600000,0.04500,42.09,2009
80,Radial Velocity,2,237.600000,0.33000,42.09,2009
81,Radial Velocity,2,3.872800,0.02700,20.10,2013
82,Radial Velocity,2,125.940000,0.17000,20.10,2013
83,Radial Velocity,1,268.940000,1.47000,50.03,2009
84,Radial Velocity,1,137.480000,1.11000,175.44,2013
85,Radial Velocity,2,379.630000,21.42000,NaN,2009
86,Radial Velocity,2,621.990000,12.47000,NaN,2009
87,Radial Velocity,1,578.200000,NaN,NaN,2012
88,Radial Velocity,1,392.600000,0.91000,NaN,2011
89,Imaging,1,10037.500000,NaN,23.10,2011
90,Imaging,1,NaN,NaN,NaN,2006
91,Transit,1,1.508956,NaN,NaN,2008
92,Transit,1,1.742994,NaN,200.00,2008
93,Transit,1,4.256800,NaN,680.00,2008
94,Transit,1,9.202050,NaN,NaN,2008
95,Transit,1,4.037896,NaN,NaN,2009
96,Transit,1,8.886593,NaN,NaN,2009
97,Transit,2,0.853585,NaN,150.00,2009
98,Radial Velocity,2,3.698000,NaN,150.00,2009
99,Transit,1,6.212290,NaN,380.00,2010
100,Transit,1,95.273800,NaN,460.00,2009
101,Transit,1,13.240600,NaN,345.00,2010
102,Transit,1,2.994330,NaN,560.00,2010
103,Transit,1,2.828042,NaN,1150.00,2010
104,Transit,1,4.035190,NaN,1060.00,2010
105,Transit,1,1.512140,NaN,1340.00,2010
106,Transit,1,5.352270,NaN,840.00,2011
107,Transit,1,3.768100,NaN,920.00,2011
108,Transit,1,1.900069,NaN,870.00,2011
109,Transit,1,3.897130,NaN,770.00,2011
110,Transit,1,9.242850,NaN,1230.00,2011
111,Transit,1,3.631300,NaN,600.00,2011
112,Transit,1,3.575320,NaN,NaN,2014
113,Astrometry,1,246.360000,NaN,20.77,2013
114,Radial Velocity,1,15.764910,3.91000,10.91,1999
115,Radial Velocity,3,8.631000,0.03500,14.97,2013
116,Radial Velocity,3,25.600000,0.02400,14.97,2013
117,Radial Velocity,3,603.000000,0.07900,14.97,2013
118,Radial Velocity,1,2288.000000,0.82000,12.12,2009
119,Radial Velocity,2,692.000000,1.89400,15.10,2007
120,Radial Velocity,2,7100.000000,1.60000,15.10,2011
121,Radial Velocity,1,4100.000000,2.30000,20.03,2013
122,Radial Velocity,1,7.370900,0.01800,9.04,2011
123,Radial Velocity,1,2.643850,NaN,10.23,2004
124,Imaging,1,NaN,NaN,17.95,2013
125,Radial Velocity,4,5.368740,0.04900,6.27,2005
126,Radial Velocity,4,12.929200,0.01700,6.27,2005
127,Radial Velocity,4,66.800000,0.02200,6.27,2005
128,Radial Velocity,4,3.149420,0.00600,6.27,2005
129,Radial Velocity,1,598.300000,0.32800,10.32,2009
130,Radial Velocity,6,7.200400,0.01800,6.80,2011
131,Radial Velocity,6,28.140000,0.01200,6.80,2011
132,Radial Velocity,6,91.610000,0.01600,6.80,2013
133,Radial Velocity,6,62.240000,0.00800,6.80,2013
134,Radial Velocity,6,39.026000,0.00800,6.80,2013
135,Radial Velocity,6,256.200000,0.01400,6.80,2013
136,Radial Velocity,1,4.693800,0.03500,4.54,2007
137,Radial Velocity,3,1050.300000,4.95000,16.13,2010
138,Radial Velocity,3,3.600000,0.01400,16.13,2012
139,Radial Velocity,3,35.370000,0.03600,16.13,2012
140,Radial Velocity,1,3416.000000,0.64000,4.94,2008
141,Radial Velocity,1,1845.000000,0.91000,8.77,2006
142,Radial Velocity,4,61.116600,2.27560,4.70,1998
143,Radial Velocity,4,30.088100,0.71420,4.70,2000
144,Radial Velocity,4,1.937780,0.02100,4.70,2005
145,Radial Velocity,4,124.260000,0.04600,4.70,2010
146,Transit,1,1.580405,NaN,NaN,2009
147,Radial Velocity,1,133.710000,3.37000,17.62,2000
148,Radial Velocity,1,3.337140,NaN,25.20,2012
149,Radial Velocity,1,2.645610,0.02200,19.80,2010
150,Imaging,1,NaN,NaN,145.00,2010
151,Transit,1,4.465293,NaN,139.00,2006
152,Transit,1,5.633473,NaN,135.32,2007
153,Transit,1,2.899736,NaN,138.00,2007
154,Transit,1,3.056536,NaN,314.00,2007
155,Transit,1,2.788491,NaN,342.00,2007
156,Transit,1,3.852985,NaN,261.00,2007
157,Transit,1,3.076378,NaN,230.00,2008
158,Transit,1,3.922890,NaN,480.00,2008
159,Transit,1,3.213060,NaN,142.50,2009
160,Transit,2,2.916260,NaN,214.00,2009
161,Radial Velocity,2,428.500000,15.20000,214.00,2009
162,Transit,1,4.627669,NaN,205.00,2010
163,Transit,1,10.863502,NaN,190.00,2010
164,Transit,1,2.775960,NaN,235.00,2010
165,Transit,2,10.338523,NaN,90.00,2010
166,Radial Velocity,2,5584.000000,3.40000,90.00,2010
167,Transit,1,5.508023,NaN,166.00,2010
168,Transit,1,4.008778,NaN,215.00,2010
169,Transit,1,2.875317,NaN,70.00,2010
170,Transit,1,4.124481,NaN,254.00,2010
171,Transit,1,3.212220,NaN,82.00,2010
172,Transit,1,1.212884,NaN,393.00,2010
173,Transit,1,3.355240,NaN,396.00,2010
174,Transit,1,3.652836,NaN,297.00,2010
175,Transit,1,4.234516,NaN,134.00,2010
176,Transit,1,3.039577,NaN,204.00,2011
177,Transit,1,3.257215,NaN,395.00,2011
178,Transit,1,5.723186,NaN,322.00,2011
179,Transit,1,2.810595,NaN,193.00,2011
180,Transit,2,5.005425,NaN,354.00,2011
181,Radial Velocity,2,1022.000000,3.40000,354.00,2011
182,Transit,1,2.150008,NaN,283.00,2011
183,Transit,1,3.474474,NaN,387.00,2011
184,Transit,1,5.452654,NaN,257.00,2011
185,Transit,1,3.646706,NaN,535.00,2011
186,Transit,1,1.327347,NaN,317.00,2011
187,Transit,1,2.797436,NaN,411.00,2011
188,Transit,1,4.640382,NaN,249.00,2012
189,Transit,1,3.543870,NaN,642.00,2012
190,Transit,1,4.457243,NaN,501.00,2012
191,Transit,1,2.694047,NaN,344.00,2012
192,Transit,1,4.641878,NaN,447.00,2012
193,Transit,1,3.332687,NaN,542.00,2012
194,Transit,1,2.691548,NaN,322.00,2014
195,Transit,1,3.446459,NaN,303.00,2012
196,Transit,1,1.354133,NaN,360.00,2013
197,Transit,1,3.547851,NaN,453.00,2013
198,Radial Velocity,2,349.700000,1.25000,25.64,2001
199,Radial Velocity,2,6005.000000,5.30000,25.64,2012
200,Radial Velocity,2,5.772700,0.02400,23.44,2009
201,Radial Velocity,2,13.505000,0.01860,23.44,2011
202,Radial Velocity,1,431.800000,3.10000,167.50,2011
203,Radial Velocity,1,533.000000,6.10000,7.01,2010
204,Radial Velocity,1,1183.000000,4.90000,89.85,2002
205,Radial Velocity,1,3.444200,0.48000,53.71,2005
206,Radial Velocity,1,311.600000,1.60000,115.21,2013
207,Radial Velocity,1,62.218000,0.22900,11.11,2003
208,Radial Velocity,1,526.620000,1.56000,44.05,2007
209,Radial Velocity,1,829.000000,0.80000,32.70,2001
210,Radial Velocity,1,15.609000,0.04050,21.85,2005
211,Radial Velocity,1,431.880000,2.07000,77.82,2001
212,Radial Velocity,1,356.000000,2.30000,131.41,2009
213,Radial Velocity,2,360.200000,2.37000,56.50,2012
214,Radial Velocity,2,2732.000000,2.37000,56.50,2012
215,Radial Velocity,1,675.000000,1.94000,100.00,2007
216,Radial Velocity,1,777.000000,1.96000,53.28,2009
217,Radial Velocity,1,792.600000,NaN,58.17,2012
218,Radial Velocity,1,177.110000,7.60000,150.60,2011
219,Radial Velocity,1,22.090000,0.48000,40.32,2003
220,Radial Velocity,1,2496.000000,1.65000,55.01,2009
221,Radial Velocity,1,615.000000,0.29000,35.88,2011
222,Radial Velocity,2,1275.000000,1.11000,38.52,2011
223,Radial Velocity,2,4046.000000,2.00000,38.52,2011
224,Radial Velocity,1,5.397800,0.02900,16.82,2008
225,Radial Velocity,1,1313.000000,0.63000,56.34,2010
226,Radial Velocity,1,227.000000,1.80000,44.15,2002
227,Radial Velocity,1,1634.000000,14.20000,38.26,2009
228,Radial Velocity,2,30.052000,0.70000,52.85,2009
229,Radial Velocity,2,192.900000,1.82000,52.85,2009
230,Radial Velocity,6,5.759620,0.04100,39.39,2010
231,Radial Velocity,6,16.356700,0.03800,39.39,2010
232,Radial Velocity,6,49.747000,0.08000,39.39,2010
233,Radial Velocity,6,122.720000,0.07400,39.39,2010
234,Radial Velocity,6,602.000000,0.06700,39.39,2010
235,Radial Velocity,6,2248.000000,0.20500,39.39,2010
236,Radial Velocity,1,989.200000,0.94000,17.35,2006
237,Radial Velocity,1,1075.200000,6.21000,32.56,1999
238,Radial Velocity,2,1270.200000,3.44000,53.82,2007
239,Radial Velocity,2,170.455000,0.82000,53.82,2008
240,Radial Velocity,1,711.000000,6.54000,66.49,2005
241,Radial Velocity,2,1945.000000,0.62200,33.98,2005
242,Radial Velocity,2,37.910000,0.07880,33.98,2008
243,Radial Velocity,2,262.709000,2.30000,37.16,2000
244,Radial Velocity,2,1708.000000,1.92000,37.16,2002
245,Radial Velocity,1,471.600000,14.00000,300.30,2005
246,Radial Velocity,2,14.182000,0.03250,28.60,2011
247,Radial Velocity,2,53.832000,0.03600,28.60,2011
248,Radial Velocity,2,19.382000,0.86500,66.89,2013
249,Radial Velocity,2,931.000000,5.13000,66.89,2013
250,Radial Velocity,1,4218.000000,1.88000,45.52,2009
251,Radial Velocity,1,75.523000,0.26000,35.91,2000
252,Radial Velocity,1,17.240000,0.06960,25.54,2008
253,Radial Velocity,1,990.000000,4.40000,59.84,2009
254,Radial Velocity,1,465.100000,14.30000,50.18,2009
255,Radial Velocity,1,359.900000,4.60000,NaN,2007
256,Radial Velocity,1,21.216630,NaN,78.25,2007
257,Radial Velocity,1,772.000000,2.70000,127.88,2011
258,Radial Velocity,1,466.200000,1.37000,22.38,2003
259,Radial Velocity,2,11.849000,0.03780,43.08,2011
260,Radial Velocity,2,33.823000,0.04220,43.08,2011
261,Radial Velocity,1,500.000000,1.07000,27.13,2002
262,Radial Velocity,3,18.315000,0.00850,6.06,2011
263,Radial Velocity,3,40.114000,0.00755,6.06,2011
264,Radial Velocity,3,90.309000,0.01510,6.06,2011
265,Radial Velocity,2,29.150000,0.03790,35.89,2011
266,Radial Velocity,2,85.131000,0.04960,35.89,2011
267,Radial Velocity,1,591.900000,1.90000,36.02,2006
268,Radial Velocity,1,380.850000,1.99000,44.50,2008
269,Radial Velocity,2,22.656000,0.03220,32.31,2011
270,Radial Velocity,2,53.881000,0.06472,32.31,2011
271,Radial Velocity,1,1214.000000,1.50000,89.13,2006
272,Radial Velocity,1,738.459000,2.61000,34.60,2001
273,Radial Velocity,1,528.070000,13.65000,31.79,2011
274,Radial Velocity,1,1561.000000,7.71000,51.97,2003
275,Radial Velocity,1,3668.000000,4.01000,46.51,2006
276,Radial Velocity,1,1845.000000,0.95000,56.05,2010
277,Radial Velocity,1,423.841000,1.28000,18.24,2000
278,Radial Velocity,1,2208.000000,1.45000,44.54,2012
279,Radial Velocity,1,17.991000,0.62000,42.37,2005
280,Radial Velocity,1,1117.000000,1.16000,56.18,2010
281,Radial Velocity,1,385.900000,5.59000,39.56,2001
282,Radial Velocity,1,387.100000,1.70000,168.92,2011
283,Radial Velocity,1,2819.654000,9.17000,54.71,2002
284,Radial Velocity,1,1159.200000,1.37300,26.50,2009
285,Radial Velocity,1,912.000000,1.80000,121.07,2011
286,Radial Velocity,1,466.000000,0.50000,53.82,2010
287,Radial Velocity,3,16.546000,0.03630,38.01,2011
288,Radial Velocity,3,51.284000,0.04980,38.01,2011
289,Radial Velocity,3,274.490000,0.05190,38.01,2011
290,Radial Velocity,1,326.600000,1.30000,136.80,2011
291,Radial Velocity,1,18.179000,0.33000,86.88,2006
292,Radial Velocity,1,157.540000,3.04000,117.37,2009
293,Radial Velocity,1,1049.000000,0.79000,45.01,2009
294,Radial Velocity,1,388.000000,9.10000,20.98,2005
295,Radial Velocity,1,363.200000,NaN,37.78,2010
296,Radial Velocity,3,154.460000,0.61000,33.24,2002
297,Radial Velocity,3,2295.000000,0.68300,33.24,2002
298,Radial Velocity,3,843.600000,0.62400,33.24,2005
299,Radial Velocity,1,2063.818000,10.35000,18.21,2001
300,Radial Velocity,2,55.000000,2.30000,42.88,2004
301,Radial Velocity,2,2720.000000,3.36600,42.88,2012
302,Radial Velocity,3,5.636300,0.01170,25.59,2011
303,Radial Velocity,3,14.025000,0.01870,25.59,2011
304,Radial Velocity,3,33.941000,0.01620,25.59,2011
305,Radial Velocity,2,14.309800,0.83900,42.43,2000
306,Radial Velocity,2,2140.200000,13.38000,42.43,2000
307,Radial Velocity,1,696.300000,10.70000,99.40,2009
308,Radial Velocity,1,407.150000,0.09610,15.56,2011
309,Radial Velocity,6,4.312300,0.01260,12.83,2008
310,Radial Velocity,6,9.618400,0.02080,12.83,2008
311,Radial Velocity,6,20.432000,0.02990,12.83,2008
312,Radial Velocity,6,34.620000,0.01100,12.83,2012
313,Radial Velocity,6,51.760000,0.01640,12.83,2012
314,Radial Velocity,6,197.800000,0.02230,12.83,2012
315,Radial Velocity,1,264.150000,4.01000,33.33,2002
316,Radial Velocity,1,963.000000,2.54000,43.03,2004
317,Radial Velocity,1,1.328300,18.37000,43.03,2003
318,Radial Velocity,2,18.357000,0.03900,52.03,2013
319,Radial Velocity,2,25.648000,0.02700,52.03,2013
320,Radial Velocity,1,327.800000,0.60000,54.94,2010
321,Radial Velocity,1,2371.000000,25.00000,37.05,2008
322,Radial Velocity,1,36.960000,2.49000,93.20,2007
323,Radial Velocity,1,472.000000,0.58000,50.43,2010
324,Radial Velocity,1,5.887200,0.04000,22.04,2011
325,Radial Velocity,2,226.930000,0.18720,32.58,2008
326,Radial Velocity,2,342.850000,0.65790,32.58,2008
327,Radial Velocity,1,890.760000,1.79000,48.95,2004
328,Radial Velocity,1,43.600000,0.47000,36.14,2008
329,Radial Velocity,1,3.024000,0.24900,33.41,2000
330,Radial Velocity,2,4.084500,0.07167,37.84,2008
331,Radial Velocity,2,1353.600000,0.35061,37.84,2008
332,Radial Velocity,2,430.000000,5.00000,121.36,2002
333,Radial Velocity,2,2500.000000,7.00000,121.36,2008
334,Radial Velocity,1,700.000000,1.16000,87.41,2008
335,Radial Velocity,1,4.943700,0.11500,40.73,2002
336,Radial Velocity,1,2582.700000,1.71000,47.26,2005
337,Radial Velocity,1,1279.000000,4.90000,31.03,2002
338,Radial Velocity,2,14.070000,0.04130,34.07,2011
339,Radial Velocity,2,95.415000,0.05650,34.07,2011
340,Radial Velocity,1,118.960000,1.13000,28.07,2000
341,Radial Velocity,1,303.000000,5.25000,92.51,2003
342,Radial Velocity,2,201.830000,3.15480,25.70,2008
343,Radial Velocity,2,607.060000,7.46340,25.70,2008
344,Radial Velocity,1,2.817822,0.38000,35.80,2005
345,Radial Velocity,1,589.640000,2.90000,10.34,2006
346,Radial Velocity,1,358.000000,0.64000,32.62,2009
347,Radial Velocity,2,572.400000,1.26000,35.59,2003
348,Radial Velocity,2,152.600000,0.17000,35.59,2011
349,Radial Velocity,1,480.500000,6.00000,80.06,2012
350,Radial Velocity,1,1973.000000,2.82000,55.04,2005
351,Radial Velocity,1,6.276000,1.90000,58.82,2001
352,Radial Velocity,3,8.667000,0.03300,12.58,2006
353,Radial Velocity,3,31.560000,0.03800,12.58,2006
354,Radial Velocity,3,197.000000,0.05800,12.58,2006
355,Radial Velocity,1,851.800000,6.10000,NaN,2007
356,Radial Velocity,1,2231.000000,2.00000,28.76,2003
357,Radial Velocity,1,3383.000000,3.15000,51.36,2002
358,Radial Velocity,1,1260.000000,3.06000,53.05,2008
359,Radial Velocity,1,2.548580,1.87000,36.52,2003
360,Radial Velocity,2,188.900000,2.25000,94.61,2002
361,Radial Velocity,2,379.100000,2.25000,94.61,2005
362,Radial Velocity,1,1800.000000,1.15000,96.99,2008
363,Radial Velocity,3,51.645000,1.80000,64.56,2003
364,Radial Velocity,3,2473.000000,8.06000,64.56,2003
365,Radial Velocity,3,346.600000,0.39600,64.56,2007
366,Radial Velocity,1,3.510000,0.42000,28.94,1999
367,Radial Velocity,1,418.200000,2.51000,80.58,2007
368,Radial Velocity,1,3.971000,0.19700,59.70,2002
369,Radial Velocity,1,5.736100,NaN,41.27,2012
370,Radial Velocity,1,1966.100000,1.34000,48.64,2011
371,Radial Velocity,1,111.435700,NaN,29.04,2001
372,Radial Velocity,1,1001.700000,6.86000,32.56,2005
373,Radial Velocity,1,184.020000,2.70000,88.26,2007
374,Radial Velocity,2,441.470000,NaN,27.46,2003
375,Radial Velocity,2,220.078000,NaN,27.46,2003
376,Radial Velocity,1,705.000000,1.30000,112.23,2011
377,Radial Velocity,1,2.985625,0.40000,43.53,2002
378,Radial Velocity,1,788.000000,0.13200,33.96,2009
379,Radial Velocity,1,58.430000,0.01133,11.15,2011
380,Radial Velocity,1,2.137500,1.50000,91.16,2006
381,Radial Velocity,1,1695.000000,0.92000,42.48,2009
382,Radial Velocity,1,1475.000000,7.00000,72.57,2009
383,Radial Velocity,1,2754.000000,1.78000,18.06,2009
384,Radial Velocity,1,3.416000,0.22000,74.46,2004
385,Radial Velocity,1,2157.000000,1.78000,30.88,2009
386,Radial Velocity,1,256.780000,8.44000,38.99,1999
387,Radial Velocity,1,49.770000,0.05700,22.09,2009
388,Radial Velocity,1,325.810000,3.86000,32.32,2000
389,Radial Velocity,1,143.580000,0.37000,28.90,2005
390,Radial Velocity,2,13.186000,0.02630,42.52,2011
391,Radial Velocity,2,46.025000,0.03180,42.52,2011
392,Imaging,1,NaN,NaN,91.57,2013
393,Radial Velocity,1,507.000000,1.20000,149.03,2009
394,Radial Velocity,1,361.100000,0.90000,132.80,2011
395,Radial Velocity,1,498.900000,0.68000,84.03,2009
396,Radial Velocity,1,647.300000,4.00000,221.24,2011
397,Radial Velocity,2,8.125600,0.02840,26.21,2011
398,Radial Velocity,2,103.490000,0.04000,26.21,2011
399,Radial Velocity,1,9.494000,0.02600,21.30,2010
400,Radial Velocity,1,436.900000,1.80000,150.38,2011
401,Radial Velocity,1,4951.000000,6.80000,42.77,2012
402,Radial Velocity,1,439.300000,0.50200,60.46,2005
403,Radial Velocity,2,17.054000,0.08700,17.99,2004
404,Radial Velocity,2,4970.000000,0.36000,17.99,2010
405,Radial Velocity,1,868.000000,1.40000,130.89,2011
406,Radial Velocity,1,157.570000,1.70000,140.85,2011
407,Radial Velocity,1,383.700000,1.16000,52.80,2007
408,Radial Velocity,1,70.460000,0.30000,30.50,2005
409,Radial Velocity,1,20.813300,0.17200,42.00,2005
410,Radial Velocity,1,4.113775,0.45000,28.98,2006

Rules for specifying multiple filter criteria in pandas:

*---> use & instead of and*
*---> use | instead of or*
*---> add parentheses around each condition to specify evaluation order*

In [ ]:
planets[(planets.year<=2010) & (planets.method=="Transit")].sort_values("year")

      method  number  orbital_period  mass  distance  year
931  Transit       1        1.211919   NaN       NaN  2002
930  Transit       1        3.101278   NaN       NaN  2004
932  Transit       1        4.016100   NaN       NaN  2004
933  Transit       1        1.432475   NaN     600.0  2004
934  Transit       1        1.689868   NaN    2500.0  2004
..       ...     ...             ...   ...       ...   ...
104  Transit       1        4.035190   NaN    1060.0  2010
175  Transit       1        4.234516   NaN     134.0  2010
102  Transit       1        2.994330   NaN     560.0  2010
966  Transit       1        8.158715   NaN      87.0  2010
669  Transit       6      118.380700   NaN     613.0  2010

[110 rows x 6 columns]

In [ ]:
planets.groupby('method').mass.agg(['mean', 'min', 'max'])

                                   mean     min    max
method
Astrometry                          NaN     NaN    NaN
Eclipse Timing Variations      5.125000  4.2000   6.05
Imaging                             NaN     NaN    NaN
Microlensing                        NaN     NaN    NaN
Orbital Brightness Modulation       NaN     NaN    NaN
Pulsar Timing                       NaN     NaN    NaN
Pulsation Timing Variations         NaN     NaN    NaN
Radial Velocity                2.630699  0.0036  25.00
Transit                        1.470000  1.4700   1.47
Transit Timing Variations           NaN     NaN    NaN

In [ ]:
# 'value_counts' does not include missing values by default
planets.method.value_counts()

method
Radial Velocity                  553
Transit                          397
Imaging                           38
Microlensing                      23
Eclipse Timing Variations          9
Pulsar Timing                      5
Transit Timing Variations          4
Orbital Brightness Modulation      3
Astrometry                         2
Pulsation Timing Variations        1
Name: count, dtype: int64

In [ ]:
# 'value_counts' (like many pandas methods) outputs a Series
type(planets.method.value_counts())

pandas.core.series.Series

In [ ]:
planets.method.unique()

array(['Radial Velocity', 'Imaging', 'Eclipse Timing Variations',
       'Transit', 'Astrometry', 'Transit Timing Variations',
       'Orbital Brightness Modulation', 'Microlensing', 'Pulsar Timing',
       'Pulsation Timing Variations'], dtype=object)

In [ ]:
planets.method.nunique()

10

In [ ]:
planets[(planets.distance==600) | (planets.distance==1200) | (planets.distance==50)]

# Simpler way:
# planets[planets.distance.isin([600,1200,50])]

              method  number  orbital_period  mass  distance  year
111          Transit       1        3.631300   NaN     600.0  2011
525  Radial Velocity       1      420.770000   1.7      50.0  2007
670          Transit       1        4.437964   NaN     600.0  2011
690          Transit       2        8.145300   NaN    1200.0  2011
691          Transit       2       12.333500   NaN    1200.0  2011
725          Transit       1      105.599000   NaN     600.0  2012
726          Transit       1       21.087400   NaN    1200.0  2011
933          Transit       1        1.432475   NaN     600.0  2004
938          Transit       1        3.160630   NaN    1200.0  2013
945    Pulsar Timing       1        0.090706   NaN    1200.0  2011

In [ ]:
planets.groupby("method")["orbital_period"].median()

method
Astrometry                         631.180000
Eclipse Timing Variations         4343.500000
Imaging                          27500.000000
Microlensing                      3300.000000
Orbital Brightness Modulation        0.342887
Pulsar Timing                       66.541900
Pulsation Timing Variations       1170.000000
Radial Velocity                    360.200000
Transit                              5.714932
Transit Timing Variations           57.011000
Name: orbital_period, dtype: float64

# DATA CLEANING

In [ ]:
data={"ID":[101,102,103,104,103,106,107,108,109,110],
      "Name":["Riya","Komal","Jatin","Sushma","Jatin","Kartik","Saumya","Isha","Vivek","Anupama"],
      "Location":["Jaipur","Delhi","Mumbai","Bangalore","Mumbai","Chennai","Nepal","UP",None,"Rajasthan"],
      "Year":[2016,2013,2021,2019,2021,2015,2001,1995,2010,2028]}
df=pd.DataFrame(data)
df

    ID     Name   Location  Year
0  101     Riya     Jaipur  2016
1  102    Komal      Delhi  2013
2  103    Jatin     Mumbai  2021
3  104   Sushma  Bangalore  2019
4  103    Jatin     Mumbai  2021
5  106   Kartik    Chennai  2015
6  107   Saumya      Nepal  2001
7  108     Isha         UP  1995
8  109    Vivek       None  2010
9  110  Anupama  Rajasthan  2028

# Removing Duplicates

In [ ]:
df.duplicated()

0    False
1    False
2    False
3    False
4     True
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [ ]:
df.drop_duplicates()

    ID     Name   Location  Year
0  101     Riya     Jaipur  2016
1  102    Komal      Delhi  2013
2  103    Jatin     Mumbai  2021
3  104   Sushma  Bangalore  2019
5  106   Kartik    Chennai  2015
6  107   Saumya      Nepal  2001
7  108     Isha         UP  1995
8  109    Vivek       None  2010
9  110  Anupama  Rajasthan  2028

# Fixing Wrong Data

In [ ]:
# Changing year from 2028 to 2013
df.loc[9,"Year"]=2013
df

    ID     Name   Location  Year
0  101     Riya     Jaipur  2016
1  102    Komal      Delhi  2013
2  103    Jatin     Mumbai  2021
3  104   Sushma  Bangalore  2019
4  103    Jatin     Mumbai  2021
5  106   Kartik    Chennai  2015
6  107   Saumya      Nepal  2001
7  108     Isha         UP  1995
8  109    Vivek       None  2010
9  110  Anupama  Rajasthan  2013

In [ ]:
data={"ID":[101,102,103,104,103,106,107,108,109,110],
      "Name":["Riya","Komal","Jatin","Sushma","Jatin",
              "Kartik","Saumya","Isha","Vivek","Anupama"],
      "Location":["Jaipur","Delhi","Mumbai","Bangalore",
                  "Mumbai","Chennai","Nepal","UP",None,"Rajasthan"],
      "Year":[2080,2013,2029,2019,2021,2015,2001,1995,2010,2028]}
df=pd.DataFrame(data)
df

    ID     Name   Location  Year
0  101     Riya     Jaipur  2080
1  102    Komal      Delhi  2013
2  103    Jatin     Mumbai  2029
3  104   Sushma  Bangalore  2019
4  103    Jatin     Mumbai  2021
5  106   Kartik    Chennai  2015
6  107   Saumya      Nepal  2001
7  108     Isha         UP  1995
8  109    Vivek       None  2010
9  110  Anupama  Rajasthan  2028

In [ ]:
# For large amount of data we have to create some rules to replace wrong data
for i in df.index:
    if df.loc[i,"Year"]>2024:
        df.drop(i,inplace=True)
df

    ID    Name   Location  Year
1  102   Komal      Delhi  2013
3  104  Sushma  Bangalore  2019
4  103   Jatin     Mumbai  2021
5  106  Kartik    Chennai  2015
6  107  Saumya      Nepal  2001
7  108    Isha         UP  1995
8  109   Vivek       None  2010

# Cleaning Data of wrong format
To fix this:
1. Remove that row
2. Convert all cells in the column into same format

In [ ]:
import numpy as np
data={"ID":[101,102,103,104,103,106,107,108,109,110],
      "Name":["Riya","Komal","Jatin","Sushma","Jatin",
              "Kartik","Saumya","Isha","Vivek","Anupama"],
      "Location":["Jaipur","Delhi","Mumbai","Bangalore",
                  "Mumbai","Chennai","Nepal","UP",None,"Rajasthan"],
      "Year":[2080,2013,2029,2019,2021,2015,2001,1995,2010,2028],
      "Date":["2020/12/13","2020/12/4","2020/12/30","2020/12/1",
              "2020/12/5","2020/12/6","2020/12/15","2020/12/21",np.nan,"2020/12/20"]}
df=pd.DataFrame(data)
df

    ID     Name   Location  Year        Date
0  101     Riya     Jaipur  2080  2020/12/13
1  102    Komal      Delhi  2013   2020/12/4
2  103    Jatin     Mumbai  2029  2020/12/30
3  104   Sushma  Bangalore  2019   2020/12/1
4  103    Jatin     Mumbai  2021   2020/12/5
5  106   Kartik    Chennai  2015   2020/12/6
6  107   Saumya      Nepal  2001  2020/12/15
7  108     Isha         UP  1995  2020/12/21
8  109    Vivek       None  2010         NaN
9  110  Anupama  Rajasthan  2028  2020/12/20

In [ ]:
df["Date"]=pd.to_datetime(df["Date"])
df

    ID     Name   Location  Year       Date
0  101     Riya     Jaipur  2080 2020-12-13
1  102    Komal      Delhi  2013 2020-12-04
2  103    Jatin     Mumbai  2029 2020-12-30
3  104   Sushma  Bangalore  2019 2020-12-01
4  103    Jatin     Mumbai  2021 2020-12-05
5  106   Kartik    Chennai  2015 2020-12-06
6  107   Saumya      Nepal  2001 2020-12-15
7  108     Isha         UP  1995 2020-12-21
8  109    Vivek       None  2010        NaT
9  110  Anupama  Rajasthan  2028 2020-12-20

In [ ]:
df.dropna(subset="Date",inplace=True)
df

    ID     Name   Location  Year       Date
0  101     Riya     Jaipur  2080 2020-12-13
1  102    Komal      Delhi  2013 2020-12-04
2  103    Jatin     Mumbai  2029 2020-12-30
3  104   Sushma  Bangalore  2019 2020-12-01
4  103    Jatin     Mumbai  2021 2020-12-05
5  106   Kartik    Chennai  2015 2020-12-06
6  107   Saumya      Nepal  2001 2020-12-15
7  108     Isha         UP  1995 2020-12-21
9  110  Anupama  Rajasthan  2028 2020-12-20

# Cleaning Empty Cells

In [ ]:
import numpy as np
data={"ID":[101,102,103,104,103,106,107,108,109,110],
      "Name":["Riya","Komal","Jatin","Sushma","Jatin",
              "Kartik","Saumya","Isha","Vivek","Anupama"],
      "Location":["Jaipur","Delhi",np.nan,"Bangalore","Mumbai"
                  ,"Chennai","Nepal","UP","Mumbai","Rajasthan"],
      "Year":[2080,2013,2029,2019,2021,2015,2001,1995,2010,2028],
      "Date":["2020/12/13","2020/12/4","2020/12/30","2020/12/1",
            "2020/12/5","2020/12/6","2020/12/15","2020/12/21",np.nan,"2020/12/20"]}
df=pd.DataFrame(data)
df

    ID     Name   Location  Year        Date
0  101     Riya     Jaipur  2080  2020/12/13
1  102    Komal      Delhi  2013   2020/12/4
2  103    Jatin        NaN  2029  2020/12/30
3  104   Sushma  Bangalore  2019   2020/12/1
4  103    Jatin     Mumbai  2021   2020/12/5
5  106   Kartik    Chennai  2015   2020/12/6
6  107   Saumya      Nepal  2001  2020/12/15
7  108     Isha         UP  1995  2020/12/21
8  109    Vivek     Mumbai  2010         NaN
9  110  Anupama  Rajasthan  2028  2020/12/20

In [ ]:
# Removing rows having null values
df.dropna()

    ID     Name   Location  Year        Date
0  101     Riya     Jaipur  2080  2020/12/13
1  102    Komal      Delhi  2013   2020/12/4
3  104   Sushma  Bangalore  2019   2020/12/1
4  103    Jatin     Mumbai  2021   2020/12/5
5  106   Kartik    Chennai  2015   2020/12/6
6  107   Saumya      Nepal  2001  2020/12/15
7  108     Isha         UP  1995  2020/12/21
9  110  Anupama  Rajasthan  2028  2020/12/20

In [ ]:
df.describe(include="object")
# It will generate descriptive statistics for all columns in the movies DataFrame that have the data type object. These statistics typically include:

# Count: The number of non-null entries.
# Unique: The number of unique values.
# Top: The most frequently occurring value (mode).
# Freq: The frequency of the most frequently occurring value.

         Name Location        Date
count      10        9           9
unique      9        8           9
top     Jatin   Mumbai  2020/12/13
freq        2        2           1

In [ ]:
# Fill the missing or null values
df["Location"].fillna("Delhi")

0       Jaipur
1        Delhi
2        Delhi
3    Bangalore
4       Mumbai
5      Chennai
6        Nepal
7           UP
8       Mumbai
9    Rajasthan
Name: Location, dtype: object

In [18]:
#  Replace Negative Number by Zeros in Pandas DataFrame
df = pd.DataFrame({"A": [1, 2, -3, 4, -5, 6], 
                   "B": [3, -5, -6, 7, 3, -2], 
                   "C": [-4, 5, 6, -7, 5, 4], 
                   "D": [34, 5, 32, -3, -56, -54]}) 

df[df < 0] = 0
print("New Array :") 
df

New Array :

   A  B  C   D
0  1  3  0  34
1  2  0  5   5
2  0  0  6  32
3  4  7  0   0
4  0  3  5   0
5  6  0  4   0

In [ ]:
import numpy as np
data={"ID":[101,102,103,104,103,106,107,108,109,110],
      "Name":["Riya","Komal","Jatin","Sushma","Jatin",
              "Kartik","Saumya","Isha","Vivek","Anupama"],
      "Location":["Jaipur","Delhi",np.nan,"Bangalore","Mumbai"
                  ,"Chennai","Nepal","UP","Mumbai","Rajasthan"],
      "Year":[2080,2013,2029,2019,2021,2015,2001,1995,2010,2028],
      "Age":[18,21,12,20,11,16,9,14,13,np.nan]}
df=pd.DataFrame(data)
df

    ID     Name   Location  Year   Age
0  101     Riya     Jaipur  2080  18.0
1  102    Komal      Delhi  2013  21.0
2  103    Jatin        NaN  2029  12.0
3  104   Sushma  Bangalore  2019  20.0
4  103    Jatin     Mumbai  2021  11.0
5  106   Kartik    Chennai  2015  16.0
6  107   Saumya      Nepal  2001   9.0
7  108     Isha         UP  1995  14.0
8  109    Vivek     Mumbai  2010  13.0
9  110  Anupama  Rajasthan  2028   NaN

In [ ]:
# Replace using mean, median and mode
# It is a boolean which makes the changes in original dataframe.
df["Age"].fillna(df["Age"].mean(),inplace=True)   
df

    ID     Name   Location  Year        Age
0  101     Riya     Jaipur  2080  18.000000
1  102    Komal      Delhi  2013  21.000000
2  103    Jatin        NaN  2029  12.000000
3  104   Sushma  Bangalore  2019  20.000000
4  103    Jatin     Mumbai  2021  11.000000
5  106   Kartik    Chennai  2015  16.000000
6  107   Saumya      Nepal  2001   9.000000
7  108     Isha         UP  1995  14.000000
8  109    Vivek     Mumbai  2010  13.000000
9  110  Anupama  Rajasthan  2028  14.888889

In [ ]:
df["Name"]=df["Name"].str.upper()
df

    ID     Name   Location  Year        Age
0  101     RIYA     Jaipur  2080  18.000000
1  102    KOMAL      Delhi  2013  21.000000
2  103    JATIN        NaN  2029  12.000000
3  104   SUSHMA  Bangalore  2019  20.000000
4  103    JATIN     Mumbai  2021  11.000000
5  106   KARTIK    Chennai  2015  16.000000
6  107   SAUMYA      Nepal  2001   9.000000
7  108     ISHA         UP  1995  14.000000
8  109    VIVEK     Mumbai  2010  13.000000
9  110  ANUPAMA  Rajasthan  2028  14.888889

In [ ]:
# ---------------------------------------------------------------------------------------------------------------------------------------------------------------------
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        10 non-null     int64
 1   Name      10 non-null     object
 2   Location  9 non-null      object
 3   Year      10 non-null     int64
 4   Age       9 non-null      float64
dtypes: float64(1), int64(2), object(2)
memory usage: 532.0+ bytes

In [ ]:
# force pandas to calculate the true memory usage
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        10 non-null     int64
 1   Name      10 non-null     object
 2   Location  9 non-null      object
 3   Year      10 non-null     int64
 4   Age       9 non-null      float64
dtypes: float64(1), int64(2), object(2)
memory usage: 1.6 KB

In [114]:
# read a dataset of UFO reports into a DataFrame
ufo = pd.read_csv('http://bit.ly/uforeports')
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [ ]:
# hour could be accessed using string slicing, but this approach breaks too easily
ufo.Time.str.slice(-5, -3).astype(int).head()

0    22
1    20
2    14
3    13
4    19
Name: Time, dtype: int32

In [ ]:
# convert 'Time' to datetime format
ufo['Time'] = pd.to_datetime(ufo.Time)
ufo.head()

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,1930-06-01 22:00:00
1,Willingboro,NaN,OTHER,NJ,1930-06-30 20:00:00
2,Holyoke,NaN,OVAL,CO,1931-02-15 14:00:00
3,Abilene,NaN,DISK,KS,1931-06-01 13:00:00
4,New York Worlds Fair,NaN,LIGHT,NY,1933-04-18 19:00:00

In [ ]:
ufo.dtypes

City                       object
Colors Reported            object
Shape Reported             object
State                      object
Time               datetime64[ns]
dtype: object

# Merging :

*movies.columns*
*----> Index(['movie_id', 'title'], dtype='object')*
*ratings.columns*
*----> Index(['user_id', 'movie_id', 'rating', 'timestamp'], dtype='object')*
*movie_ratings = pd.merge(movies, ratings)*
*movie_ratings.columns*
*----> Index(['movie_id', 'title', 'user_id', 'rating', 'timestamp'], dtype='object')*

*Four Types of Joins*
There are actually four types of joins supported by the Pandas merge function:

*inner: use intersection of keys from both frames,*
 *similar to a SQL inner join; preserve the order of the left keys*
*outer: use union of keys from both frames,* 
 *similar to a SQL full outer join; sort keys lexicographically*
*left: use only keys from left frame, similar to a SQL* 
 *left outer join; preserve key order*
*right: use only keys from right frame,*
 *similar to a SQL right outer join; preserve key order*
*The default is the "inner join", which was*
 *used when creating the movie_ratings DataFrame.*

In [ ]:
A = pd.DataFrame({'color': ['green', 'yellow', 'red'], 'num':[1, 2, 3]})
A

    color  num
0   green    1
1  yellow    2
2     red    3

In [ ]:
B = pd.DataFrame({'color': ['green', 'yellow', 'pink'], 'size':['S', 'M', 'L']})
B

    color size
0   green    S
1  yellow    M
2    pink    L

In [ ]:
# Inner join
# Only include observations found in both A and B:
pd.merge(A, B, how='inner')

    color  num size
0   green    1    S
1  yellow    2    M

In [ ]:
# Outer join
# Include observations found in either A or B:
pd.merge(A, B, how='outer')

    color  num size
0   green  1.0    S
1  yellow  2.0    M
2     red  3.0  NaN
3    pink  NaN    L

In [ ]:
# Left join
# Include all observations found in A:
pd.merge(A, B, how='left')

    color  num size
0   green    1    S
1  yellow    2    M
2     red    3  NaN

In [ ]:
# Right join
# Include all observations found in B:
pd.merge(A, B, how='right')

    color  num size
0   green  1.0    S
1  yellow  2.0    M
2    pink  NaN    L

# QUESTIONS :

In [12]:
import pandas as pd
df=pd.read_csv(r"C:\Users\hp\Downloads\Automobile_data.csv")
df

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
...,...,...,...,...,...,...,...,...,...,...
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

In [130]:
# Find the most expensive car company name
df.groupby("company")["price"].max().sort_values(ascending=False).iloc[[0]]
# df [['company','price']][df.price==df['price'].max()]

company
mercedes-benz    45400.0
Name: price, dtype: float64

In [ ]:
#  Print All Toyota Cars details
df[df["company"]=="toyota"]

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
48,66,toyota,hatchback,95.7,158.7,ohc,four,62,35,5348.0
49,67,toyota,hatchback,95.7,158.7,ohc,four,62,31,6338.0
50,68,toyota,hatchback,95.7,158.7,ohc,four,62,31,6488.0
51,69,toyota,wagon,95.7,169.7,ohc,four,62,31,6918.0
52,70,toyota,wagon,95.7,169.7,ohc,four,62,27,7898.0
53,71,toyota,wagon,95.7,169.7,ohc,four,62,27,8778.0
54,79,toyota,wagon,104.5,187.8,dohc,six,156,19,15750.0

In [ ]:
# Count total cars per company
df.company.value_counts()

company
toyota           7
bmw              6
mazda            5
nissan           5
audi             4
mercedes-benz    4
mitsubishi       4
volkswagen       4
alfa-romero      3
chevrolet        3
honda            3
isuzu            3
jaguar           3
porsche          3
dodge            2
volvo            2
Name: count, dtype: int64

In [ ]:
# Find the average mileage of each car making company
df.groupby("company")["average-mileage"].mean()

company
alfa-romero      20.333333
audi             20.000000
bmw              19.000000
chevrolet        41.000000
dodge            31.000000
honda            26.333333
isuzu            33.333333
jaguar           14.333333
mazda            28.000000
mercedes-benz    18.000000
mitsubishi       29.500000
nissan           31.400000
porsche          17.000000
toyota           28.714286
volkswagen       31.750000
volvo            23.000000
Name: average-mileage, dtype: float64

In [16]:
# Sort all cars by Price column
df.price.sort_values()

13     5151.0
27     5195.0
48     5348.0
36     5389.0
28     6095.0
       ...
11    41315.0
35    45400.0
22        NaN
23        NaN
47        NaN
Name: price, Length: 61, dtype: float64

In [ ]:
# ----------------------------------------------------------------------------------------------------------------------------------------------
# How to combine many series to form a dataframe?
import numpy as np
import pandas as pd
ser1 = pd.Series(list('abced'))
ser2 = pd.Series([34,29,29,19,19])
df=pd.concat([ser1, ser2],axis=1)
df

alphas
0    a
1    b
2    c
3    e
4    d
dtype: object

In [ ]:
# How to get the items of series A not present in series B?
serA = pd.Series([1, 2, 3, 4, 5])
lstA=list(serA)
serB = pd.Series([4, 5, 6, 7, 8])
lstB=list(serB)
for i in lstA:
    if i in lstB:
        serA=serA.drop(lstA.index(i))
print(serA)

0    1
1    2
2    3
dtype: int64

In [ ]:
# How to get the items not common to both series A and series B?
serA = pd.Series([1, 2, 3, 4, 5])
lstA=list(serA)
serB = pd.Series([4, 5, 6, 7, 8])
lstB=list(serB)
for i in lstA:
    if i in lstB:
        serA=serA.drop(lstA.index(i))
        serB=serB.drop(lstB.index(i))
df=pd.concat([serA,serB])
df

0    1
1    2
2    3
2    6
3    7
4    8
dtype: int64

In [ ]:
# How to get frequency counts of unique items of a series?
serA = pd.Series([1, 2, 3, 4, 3, 5, 1, 4, 5])
serA.value_counts()

1    2
3    2
4    2
5    2
2    1
Name: count, dtype: int64

In [9]:
import numpy as np
import pandas as pd
data1 = pd.DataFrame(np.random.randint(100, size=(1000, 3)),
                     columns=['EMI', 'Salary', 'Debt'])
data2 = pd.DataFrame(np.random.randint(100, size=(1000, 3)),
                     columns=['Salary', 'Debt', 'Bonus'])
 
# Find the columns that aren't in the first DataFrame
different_cols = data2.columns.difference(data1.columns)
 
# Filter out the columns that are different.
data3 = data2[different_cols]
df_merged = pd.merge(data1, data3, left_index=True,
                     right_index=True, how='inner')
df_merged

     EMI  Salary  Debt  Bonus
0     78       7    96     69
1     17      94    53     41
2      8      79    46     37
3     79      51    80     51
4     93      73    74     58
..   ...     ...   ...    ...
995   56      79    11     79
996   13       3    54     12
997   87      19    97     31
998   65      89    35     41
999   33      94     7     71

[1000 rows x 4 columns]