In [8]:
### Reverse the tuple:
# 1. First Method
"""S=()
A=tuple(map(int,input("Enter elements:").split()))
for i in range(len(A),0,-1):
    S=S+(A[i-1],)
print(S)"""

# 2. Second Method
A=tuple(map(int,input("Enter elements:").split()))
B=tuple(reversed(A))
print(B)

(9, 8, 7, 6)

In [1]:
### Access value 20 from the tuple
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
print(tuple1[1][1])

20

In [2]:
### Create a tuple with single item 50
Tup=(50,)
print(Tup)

(50,)

In [1]:
fruits = ("Orange")
print(type(fruits))

<class 'str'>

In [3]:
### Unpack the tuple into 4 variables
tup=(45,78,23,21)
for i in tup:
    print(i)

45
78
23
21

In [6]:
### Swap two tuples in Python
tuple1 = (11, 22)
tuple2 = (99, 88)
tuple1,tuple2 = tuple2, tuple1

print("Tuple1:",tuple1)
print("Tuple2:",tuple2)

Tuple1: (99, 88)
Tuple2: (11, 22)

In [7]:
### Copy specific elements from one tuple to a new tuple
tuple1 = (11, 22, 33, 44, 55, 66)
tuple2 = tuple1[1:4]
print("Tuple2:",tuple2)

Tuple2: (22, 33, 44)

In [17]:
### Modify the tuple
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0]=222
print(tuple1)

(11, [222, 33], 44, 55)

In [18]:
### Count occurence of 50 in tuple:
tuple1 = (50, 10, 60, 70, 50)
c=0
for i in range(len(tuple1)):
    if tuple1[i]==50:
        c+=1
print(c)

2

In [28]:
### Check if all items in the tuple are the same
tuple1 = (45,45,45,90)

for i in tuple1:
    if tuple1.count(i)>1:
        print("True")
        break
    else:
        print("False")
        break

True

In [1]:
T1=(2)
print(type(T1))

<class 'int'>

In [2]:
T2=(2,)
print(type(T2))

<class 'tuple'>

In [3]:
T3=tuple("Neha")
print(T3)

('N', 'e', 'h', 'a')

In [4]:
### This is called unpacking of a tuple
T=(1,2,3,4)
a,b,c,d=T
print(a,b,c,d)

1 2 3 4

In [5]:
### Concatenation
T1=(1,2,3,4)
T2=(5,6)
T=T1+T2
print(T)

(1, 2, 3, 4, 5, 6)

In [6]:
### Multiplication
T1=(1,2,3,4)
print(T1*2)

(1, 2, 3, 4, 1, 2, 3, 4)

In [7]:
### Count no. of times of an element in tuple
T1=(1,2,3,4,2,7,5,2)
print(T1.count(2))

3

In [8]:
### Finding index of an item in tuple
T1=(1,2,3,4,2,7,5,2)
print(T1.index(7))

5

In [23]:

def unique_count(tup):
    l=[]
    c=0
    k=list(set(tup))
    print(k)
    for i in k:
        if i not in l:
            c+=1
        print(i,":",c)
unique_count((10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2))

[2, 5, 8, 10, 15]
2 : 1
5 : 2
8 : 3
10 : 4
15 : 5